.body--main-page {
  font-family: Roboto, serif; }

.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.card {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column; }

.card:last-child {
  display: none; }

.card--img {
  width: 160px;
  height: 140px;
  margin-bottom: 11px; }

.card--post-title {
  font-size: 14px;
  font-weight: bold;
  color: #4E4E4E;
  text-transform: initial; }

.card--meta {
  font-size: 11px;
  font-weight: normal;
  color: #7C7C7C;
  text-transform: initial;
  margin-top: 8px;
  margin-bottom: 13px; }

.card--content {
  display: none;
  line-height: 2;
  font-size: 14px;
  font-weight: normal;
  color: #5C5C5C;
  text-transform: initial; }

@media screen and (min-width: 373px) {
  .card--content {
    display: block; }
  .card:last-child {
    display: block; } }

@media screen and (min-width: 505px) {
  .card--content {
    width: 70%; } }

@media screen and (min-width: 940px) {
  .card {
    flex-direction: row;
    width: 570px; }
  .card--content {
    width: 100%; }
  .card:last-child {
    display: flex; }
  .card--content-wrapper {
    margin-left: 21px; }
  .card--post-title {
    font-size: 16px;
    font-weight: bold;
    color: #4E4E4E;
    text-transform: initial; }
  .card--meta {
    font-size: 12px;
    font-weight: normal;
    color: #7C7C7C;
    text-transform: initial;
    margin-top: 8px;
    margin-bottom: 13px; }
  .card--content {
    width: 100%;
    line-height: 2;
    font-size: 14px;
    font-weight: normal;
    color: #5C5C5C;
    text-transform: initial; } }

@media screen and (min-width: 1100px) {
  .posts {
    flex-direction: row;
    flex-wrap: wrap; } }

.footer--main-page {
  height: 315px;
  background-color: black;
  position: absolute;
  left: 0;
  right: 0; }

.footer-title {
  padding-top: 38px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase; }

.footer-text {
  width: 70%;
  text-align: center;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
  font-size: 12px;
  font-weight: normal;
  color: #B9B9B9;
  text-transform: initial; }

.footer-contacts {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 2;
  font-size: 14px;
  font-weight: normal;
  color: #B9B9B9;
  text-transform: initial; }

.footer--text-responsive {
  display: none; }

@media screen and (min-width: 940px) {
  .new-line {
    display: none; }
  .footer-text {
    width: 50%; }
  .footer-contacts {
    width: 50%; }
  .footer--text-responsive {
    display: inline; } }

.footer--social {
  width: 192px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px; }

.social--icon {
  height: 34px;
  width: 34px; }

.menu {
  width: 44px;
  height: 37px;
  background-color: black;
  position: absolute;
  right: 0; }

.menu--burger {
  display: block;
  position: relative;
  width: 17px;
  height: 10px;
  margin: 0 auto;
  top: 13px; }
  .menu--burger .menu--burger-sign {
    width: 17px;
    height: 2px;
    position: absolute;
    background-color: #fff;
    top: 4px; }
  .menu--burger:before, .menu--burger:after {
    content: '';
    width: 17px;
    height: 2px;
    position: absolute;
    background-color: #fff;
    transition: all 0.2s ease-out 0s; }
  .menu--burger:before {
    top: 0; }
  .menu--burger:after {
    bottom: 0; }

.active-burger:before {
  transform: rotate(45deg) translateY(3px) translateX(3px); }

.active-burger:after {
  transform: rotate(-45deg) translateY(-3px) translateX(2px); }

.hide {
  display: none; }

@media screen and (min-width: 800px) {
  .menu {
    display: none; } }

.nav {
  padding-top: 23px;
  margin-bottom: 23px;
  position: relative;
  height: 37px;
  width: 100%;
  display: flex;
  justify-content: center; }

.nav--link-active {
  color: #57A4A4; }

.nav--elems-hide {
  display: none; }

.active {
  display: block;
  background-color: white;
  width: 183px;
  height: 210px;
  position: absolute;
  top: 60px;
  right: 0; }

.nav--link {
  font-size: 11px;
  font-weight: normal;
  color: #4E4E4E;
  text-transform: uppercase;
  text-decoration: none;
  color: #4E4E4E;
  height: 28px;
  margin-left: 12px; }

.nav--item {
  height: 28px;
  border-bottom: 2px solid #F5F5F5;
  line-height: 28px;
  vertical-align: center; }

.nav--item:hover {
  background-color: #F5F5F5; }

@media screen and (min-width: 623px) {
  .nav--elems {
    list-style-type: none;
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 70%; }
  .nav--link {
    font-size: 12px;
    font-weight: normal;
    color: #4E4E4E;
    text-transform: uppercase; }
  .nav--item {
    border-bottom: none; }
  .nav--link {
    margin-left: 0; } }

.main-wrapper {
  width: 85%;
  margin: 0 auto; }

.header--img {
  width: 100%;
  margin: 0 auto; }

.img-responsive {
  width: 100%;
  height: auto;
  margin-bottom: 38px; }

.title {
  font-size: 14px;
  font-weight: bold;
  color: #4E4E4E;
  text-transform: uppercase;
  margin-bottom: 23px; }

@media screen and (min-width: 940px) {
  .img-responsive {
    margin-bottom: 56px; }
  .img-responsive {
    width: 100%; } }
