@import "src/scss/vars";
@import "src/scss/mixins";

.footer--main-page {
  height: 315px;
  background-color: $black;
  position: absolute;
  left:0;
  right: 0;
}

.footer-title {
  padding-top: 38px;
  margin-bottom: 8px;
  text-align: center;
  @include font($size-normal, $bold, $white, $case-up);
}

.footer-text {
  width: 70%;
  text-align: center;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
  @include font($size-smaller, $regular, $gray, $case-normal);
}

.footer-contacts {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 2;
  @include font($size-normal, $regular, $gray, $case-normal);
}

.footer--text-responsive{
  display: none;
}

.new-line {

}

@media screen and (min-width: 940px) {

  .new-line {
    display: none;
  }

  .footer-text {
    width: 50%;}

  .footer-contacts {
    width: 50%;}

  .footer--text-responsive{
    display: inline;
  }
}