@import "src/scss/vars";
@import "src/scss/mixins";

.header--img{
  width: 100%;
  margin: 0 auto;
}

.img-responsive {
  width: 100%;
  height: auto;
  margin-bottom: 38px;
}

.title {
  @include font($size-normal, $bold, $ink, $case-up);
  margin-bottom: 23px;
}

@media screen and (min-width: 940px) {
  .img-responsive {
    margin-bottom: 56px;
  }
  .img-responsive {
    width: 100%;
  }
}