@import "src/scss/vars";
@import "src/scss/mixins";

.menu {
  width: 44px;
  height: 37px;
  background-color: $black;
  position: absolute;
  right: 0;
}

.menu--burger {
  display: block;
  position: relative;
  width: 17px;
  height: 10px;
  margin: 0 auto;
  top: 13px;

  & .menu--burger-sign {
    width: 17px;
    height: 2px;
    position: absolute;
    background-color: $white;
    top: 4px;
  }

  &:before, &:after {
    content: '';
    width: 17px;
    height: 2px;
    position: absolute;
    background-color: $white;
    transition: all 0.2s ease-out 0s;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}

.active-burger:before {
  transform: rotate(45deg) translateY(3px) translateX(3px);
}

.active-burger:after {
  transform: rotate(-45deg) translateY(-3px) translateX(2px);
}

.hide {
  display: none;
}

@media screen and (min-width: 800px) {
  .menu  {
    display: none;
  }
}