@import "src/scss/vars";
@import "src/scss/mixins";

.nav {
  padding-top: 23px;
  margin-bottom: 23px;
  position: relative;
  height: 37px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav--link-active {
  color: $active-text;
}

.nav--elems-hide {
  display: none;
}

.active {
  display: block;
  background-color: white;
  width: 183px;
  height: 210px;
  position: absolute;
  top: 60px;
  right: 0;
}

.nav--link {
  @include font($size-small, $regular, $ink, $case-up);
  text-decoration: none;
  color: $ink;
  height: 28px;
  margin-left: 12px;
}

.nav--item {
  height: 28px;
  border-bottom: 2px solid #F5F5F5;
  line-height: 28px;
  vertical-align: center;
}

.nav--item:hover {
  background-color: #F5F5F5;
}

@media screen and (min-width: 623px) {
  .nav--elems {
    list-style-type: none;
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 70%;
  }

  .nav--link {
    @include font($size-small-tab, $regular, $ink, $case-up);
  }

  .nav--item {
    border-bottom: none;
  }

  .nav--link {
    margin-left: 0;
  }
}