@import "src/scss/vars";
@import "src/scss/mixins";

.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.card:last-child  {
  display: none;
}

.card--img {
width: 160px;
height: 140px;
margin-bottom: 11px;
}

.card--post-title {
  @include font($size-normal, $bold, $ink, $case-normal);
}

.card--meta {
  @include font($size-small, $regular , $subtile, $case-normal);
  margin-top: 8px;
  margin-bottom: 13px;
}

.card--content {
  display: none;
  line-height: 2;
  @include font($size-normal, $regular, $content, $case-normal); }


  @media screen and (min-width: 373px) {

    .card--content  {
      display: block;
    }

    .card:last-child  {
      display: block;
    }
  }

@media screen and (min-width: 505px) {

  .card--content  {
    width: 70%;
  }
}

@media screen and (min-width: 940px) {

  .card {
    flex-direction: row;
    width: 570px;
  }

  .card--content  {
    width: 100%;
  }


  .card:last-child  {
    display: flex;
  }

  .card--content-wrapper {
    margin-left: 21px;
  }

  .card--post-title {
    @include font($size-normal-tab, $bold, $ink, $case-normal);
  }

  .card--meta {
    @include font($size-small-tab, $regular , $subtile, $case-normal);
    margin-top: 8px;
    margin-bottom: 13px;
  }

  .card--content {
    width: 100%;
    line-height: 2;
    @include font($size-content-tab, $regular, $content, $case-normal); }
}

@media screen and (min-width: 1100px) {
  .posts {
    flex-direction: row;
    flex-wrap: wrap;
  }
}


