$ink: #4E4E4E;
$subtile: #7C7C7C;
$white: #fff;
$black: black;
$gray: #B9B9B9;
$content: #5C5C5C;
$active-text: #57A4A4;

//mobile
$size-normal: 14px;
$size-smaller: 12px;
$size-small: 11px;



//tablet
$size-normal-tab: 16px;
$size-smaller-tab: 16px;
$size-small-tab: 12px;
$size-content-tab: 14px;

$bold: bold;
$regular: normal;

$case-up: uppercase;
$case-normal: initial;
//
//$line-height-normal: 30px;
//$line-height-subtile: 20px;

